.header, .headerContent, .profile{
  display: flex;
  align-items: center;
  background: #6671E1;
  color: #f2f2f2;
  padding: 2rem 0;
}

.headerContent{
  justify-content: space-between;
  width: 100%;
}